In [203]:
access = {
        'host':'awsrdsinstance.cak6pu5hurl5.us-east-1.rds.amazonaws.com',
        'user':'admin',
        'password':'amazonRDS$100',
        'port':3306,
        'database':'usvisadb'
}

In [204]:
sec = {
   'bucketname':'sjsudatabaseprojecttest',
   'aws_access_key_id':'AKIAU7WJBEKXKVF65YMW',
   'aws_secret_access_key':'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'
  
}

In [205]:
import sys
import os
import pandas as pd
import pymysql
# access
# from dbaccess import access
# from secrets import sec
# S3 Connection
import boto3
from io import StringIO
from sqlalchemy import create_engine

In [206]:
# acces details db
host1 = access.get('host')
user1=access.get('user')
password1=access.get('password')
port1=access.get('port')
database1=access.get('database')

# acces details s3
aws_access_key = sec.get('aws_access_key_id')
aws_secret_access=sec.get('aws_secret_access_key')
bucketname=sec.get('bucketname')

In [207]:
try: 
    # Create connection to MySQL DB and execute the Stored Procedure to create geography table
    engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=host1, db=database1, user=user1, pw=password1))
    engine.execute('call usp_geography_create()')
except Exception as err:
    print("Something went wrong: {}".format(err))

In [208]:
try:
    # Read data from csv file
    client=boto3.client('s3',aws_access_key_id=aws_access_key,
       aws_secret_access_key=aws_secret_access)
    bucket_name=bucketname
    object_key='normalizedfiles/geography.csv'
    csv_obj=client.get_object(Bucket=bucket_name,Key=object_key)
    body=csv_obj['Body']
    csv_string=body.read().decode('utf-8')
    geography=pd.read_csv(StringIO(csv_string))
    geography.columns = ['geography_id','postal_code', 'city', 'state']
    csv_buf=StringIO()
    geography.to_csv(csv_buf,header=True,index=False)
    csv_buf.seek(0)
except Exception as err:
    print("Something went wrong: {}".format(err))

In [209]:
try:
    # Insert data into geography table 
    geography.to_sql('geography',engine, index=False,if_exists='append')
except Exception as err:
    print("Something went wrong: {}".format(err))
finally:
    engine.dispose()

In [210]:
geography

       geography_id postal_code        city       state
0                 1       30095      Duluth     Georgia
1                 2        1798      A Asco          Pr
2                 3       54405  Abbotsford      Unkown
3                 4       21001    Aberdeen    Maryland
4                 5       21001    Aberdeen  New Jersey
...             ...         ...         ...         ...
44956         44957       12144  Rensselaer    New York
44957         44958        1798     Calgary        Utah
44958         44959        1798     Calgary      Unkown
44959         44960       75023       Plano       Texas
44960         44961       31322      Pooler     Georgia

[44961 rows x 4 columns]